*{
    margin: 0;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color:#80bcb6;
    height: 52px;
    z-index: 5;

}

#myNavbar{
    z-index: 5;

}

body{
    z-index: 4;
    overflow: auto;
}

.row.content {height: 450px}

.sidenav {
    padding-top: 20px;
    background-color: white;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    margin-top: 20px;
    border: 5px solid #80bcb6;
    border-radius:10px;
    position: absolute;
    left: 20%;
    right:20%;
    margin-bottom: 130px;
}
#labelsLogin{
    color: #bf3056;
    font-family: "Arial";
}

#logoImg {
    max-width: 100%;
    max-height: 100%;


}
.zeroPadding{
    padding:0px;
}

#logoImgTop{
    width: 100%;
    height: 142px;
    background-position: center;
    background-image: url("../img/LogoTopSmall.png");
    background-repeat: no-repeat;

}

.corpo{
    margin-bottom: 40%;

}


#footerLarge{
    background-color: #80bcb6;
    color: white;
    height: 100px;
    bottom: 0;
    width: 100%;
    z-index: 4;
    position: fixed;
    margin-top:150px;
}

#footerSmall{
    background-color: #80bcb6;
    color: white;
    height: 130px;
    bottom: 0;
    width: 100%;
    z-index: 4;
    margin-top:150px;
}

#footerDivRight{
    left: 20%;
    width: 110px;
}

#footerImgRight{
    width: 54px;
    height: 53px;
}
#footerText{
    padding-top: 40px;
}

.ativo{
    background-color: #447d8d;

}


#navbarLetras{
    color: white;
    z-index: 5;
}

#navbarLetras:hover{
    color: white;
    background-color: #72b4c8;
}


.inativo{
    background-color: #80bcb6;
    color: white;
}


#navbarLeft{
    left: 0;
    right: 0;
    float: none;
}

#leftNavBarButtons{
    background-color: #80bcb6;
    color: white;
    width: 100%;
    height: 40px;
}

#leftNavBarButtonsAtivo{
    background-color: #447d8d;
    color: white;
    width: 100%;
    height: 60px;
}

#alinhadoCentro{
    display: block;
    font-size: 50%;
}

#divConteudoMeio{
    padding: .35em .625em .75em;
    margin: 0 2px;
    margin-top: 20px;
    border: 5px solid #80bcb6;
    border-radius:10px;
    position: absolute;
}


.teste fieldset{

    position: relative;
    left:0;
    margin-bottom: 0;
}

#tituloCalendario{
    color: white;
    background-color: #bf3056;

}







.calendario{

    background:white;
    font-size:14px;
    text-align:center;
    position:relative;
}
.calendario table{width:100%;}

.calendario .mes{
    display:none;
}
.calendario td{
    padding:6px;
    color:#666;
}
.calendario td.evento{
    background:#80bcb6;
}
.calendario td.atual{
    background:#bf3056;
    color:white;
}
.calendario td a{
    color:#fff;
    text-decoration:none;
    display:block;
}
.calendario .mes_title{
    font-size:15px;
}
.calendario .mes_title td{
    background:#80bcb6;
    padding:5px;
    padding-bottom:6px;
    color:white;
}

.calendario #volta, .calendario #vai{
    padding:0 10px;
    font-size:16px;
    text-decoration:none;
    background:linear-gradient(to bottom, #fff, #ccc 130%);
    line-height:28px;
    margin:3px;
    position:absolute;
    color:#333;
}
.calendario #volta:hover, .calendario #vai:hover{
    background:linear-gradient(to bottom, #ccc, #fff 130%);
}
.calendario #volta{
    left:-1px;
    top:-1px;
}
.calendario #vai{
    right:-1px;
    top:-1px;
}
.blue, .red{
    float:left;
    width:15px;
    height:15px;
    margin-right:5px;
}
.blue{
    background:#80bcb6;
}
.red{
    background: #bf3056;
}
.calendario .legends{
    float:left;
    width:100%;
    margin-top:10px;
    text-align:left;
}

.calendario .legends .legenda{
    float:left;
    width:30%;
}

.tituloCalendario{
    font-size:large;
}


.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}


#fieldsetPositionNone{
    margin-bottom: 150px;
    position: inherit;
    left: 0;
    right: 0;
}
